<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <%= d.strftime('%I:%M:%S %p')
    <p>The date is <%= Datetime.new(%A %B %e %Y) %></p>
  </body>
</html>