<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <%= d = DateTime.now %>
    <p>The date is <%= d.parse.strftime('%A,%B %e, %Y') %></p>
  </body>
</html>